@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
	height: 100%;
	width: 100%;
}

/*paragraphs*/
p{
  font-size:110%;
}

.navbar {
	padding: : .8rem;
}

.navbar-nav li {
	padding-right: 20px;
}

.nav-link{
	font-size: 1.1em !important;
  font-family:"Courier New", Courier, monospace;
}

/*Mission Section*/
h3.mission-text{
  font-variant: normal;
  font-weight: bold;
  font-family:"Courier New", Courier, monospace;
}

p.mission-text{
  font-variant: normal;
  font-family:"Courier New", Courier, monospace;
}

p.mission-statement{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  width: 90em;
  text-align: justify;
}

/*Carousel stuff*/
/*.carousel-indicators{
  margin-left: auto;
  margin-right: auto;
}
.carousel-inner img{
	width: 80%;
	height:80%;
}
*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slideshow-container.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

section {
  max-width: 57%;
  margin: auto;
  text-align: center;
}

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #FFF;
  font-family:"Courier New", Courier, monospace;

}

.video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-wrap video{
  min-width: 100%;
  min-height: 100%;
}

.landing-text {
  z-index: 2;
}

h1 {
  font-weight: 600;
  font-size: 650%;
  text-align: center;
  font-family:"Courier New", Courier, monospace;
}

h4 {
  font-size: 230%;
  font-weight: 200;
  text-align: center;
  font-family:"Courier New", Courier, monospace;
}

iframe {
	margin-left: auto;
	margin-right: auto;
}
.social a{
	font-size: 4.5em;
	padding: 3rem
  bor/*der-style: solid;
  border*/-width: medium;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-instagram {
  color: #517fa4;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover{
  color: #d5d5d5;
}

/*Industry section*/
p.industry-text{
  margin-left: auto;
  margin-right: auto;
  width: 45em;
}


/*Resource section*/
.container-resource{
  margin-bottom: 30px;
}

.accordion{
  /*background-color: #eee;*/
  /*color: #444;*/
  background-color: #F5F5F5;
  color: #d5d5d5
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  font-family:"Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 20px;
  border: none;
  outline: none;
  transition: 0.4s;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '\02795';  /*Unicode character for "plus" sign (+)*/
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.accordion.active:after {
  content: "\2796";  /*Unicode character for "minus" sign (-) */
}

.resource-links{
    font-family:"Courier New", Courier, monospace;
    font-size:110%;
}

/*End of Resource section*/

footer{
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}

/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
